
.filters {
  justify-content: center;
}
.filters button {
    border-radius: 30px;
}
#first-char {
    color: red;
}
#main-search-bar-grp{
    width: 50%;
    left: 30vh;
}
#main-search-bar{
    color: white;
    justify-content: center;
    background-color: black !important;
    border-color: rgba(96, 96, 96, 1);
}